* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.finder {
    max-width: 300px;
    padding: 80px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    box-shadow: -0.5px 0.5px 5px #999;
    border-radius: 5px;
}

.finder h2 {
    margin-bottom: 20px;
}

.finder label {
    margin-bottom: 10px;
}

.finder input {
    margin-top: 10px;
    font-size: 16px;
}

.result {
    display: none;
    margin-top: 10px;
}

.result li {
    list-style: none;
}